In [83]:
import numpy as np
import pandas as pd

In [84]:
dataset=pd.read_csv("breast-cancer-wisconsin.csv",delimiter=",")
dataset

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mtoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1057013,8,4,5,1,2,?,7,3,1,4
24,1059552,1,1,1,1,2,1,3,1,1,2
25,1065726,5,2,3,4,2,7,3,6,1,4
26,1066373,3,2,1,1,1,1,2,1,1,2
27,1066979,5,1,1,1,2,1,2,1,1,2
28,1067444,2,1,1,1,2,1,2,1,1,2
29,1070935,1,1,3,1,2,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
669,1350423,5,10,10,8,5,5,7,10,1,4
670,1352848,3,10,7,8,5,8,7,4,1,4
671,1353092,3,2,1,2,2,1,3,1,1,2
672,1354840,2,1,1,1,2,1,3,1,1,2
673,1354840,5,3,2,1,3,1,1,1,1,2
674,1355260,1,1,1,1,2,1,2,1,1,2
675,1365075,4,1,4,1,2,1,1,1,1,2
676,1365328,1,1,2,1,2,1,2,1,1,2
677,1368267,5,1,1,1,2,1,1,1,1,2
678,1368273,1,1,1,1,2,1,1,1,1,2
679,1368882,2,1,1,1,2,1,1,1,1,2
680,1369821,10,10,10,10,5,10,10,10,7,4
681,1371026,5,10,10,10,4,10,5,6,3,4
682,1371920,5,1,1,1,2,1,3,2,1,2
683,466906,1,1,1,1,2,1,1,1,1,2
684,466906,1,1,1,1,2,1,1,1,1,2
685,534555,1,1,1,1,2,1,1,1,1,2
686,536708,1,1,1,1,2,1,1,1,1,2
687,566346,3,1,1,1,2,1,2,3,1,2
688,603148,4,1,1,1,2,1,1,1,1,2
689,654546,1,1,1,1,2,1,1,1,8,2
690,654546,1,1,1,3,2,1,1,1,1,2
691,695091,5,10,10,5,4,5,4,4,1,4
692,714039,3,1,1,1,2,1,1,1,1,2
693,763235,3,1,1,1,2,1,2,1,2,2
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [85]:
#dimension du dataset
print(dataset.shape)

(699, 11)

In [86]:
#affichage des premières lignes
print(dataset.head())

   Sample code number   Clump Thickness   Uniformity of Cell Size  \
0             1000025                 5                         1
1             1002945                 5                         4
2             1015425                 3                         1
3             1016277                 6                         8
4             1017023                 4                         1

    Uniformity of Cell Shape   Marginal Adhesion  \
0                          1                   1
1                          4                   5
2                          1                   1
3                          8                   1
4                          1                   3

    Single Epithelial Cell Size  Bare Nuclei   Bland Chromatin  \
0                             2            1                 3
1                             7           10                 3
2                             2            2                 3
3                             3            4                 3
4                             2            1                 3

    Normal Nucleoli   Mtoses    Class
0                 1         1       2
1                 2         1       2
2                 1         1       2
3                 7         1       2
4                 1         1       2

In [87]:
#information sur les variables
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
Sample code number              699 non-null int64
 Clump Thickness                699 non-null int64
 Uniformity of Cell Size        699 non-null int64
 Uniformity of Cell Shape       699 non-null int64
 Marginal Adhesion              699 non-null int64
 Single Epithelial Cell Size    699 non-null int64
 Bare Nuclei                    699 non-null object
 Bland Chromatin                699 non-null int64
 Normal Nucleoli                699 non-null int64
 Mtoses                         699 non-null int64
 Class                          699 non-null int64
dtypes: int64(10), object(1)
memory usage: 57.4+ KB
None

In [58]:
#vérifier la distribution absolue des classes
print(y.value_counts())

benign       458
malignant    241
Name:  Class, dtype: int64

In [57]:
#transformation de la classe en une variable qualitative
y=y.replace([2,4],['benign', 'malignant' ])
y

0         benign
1         benign
2         benign
3         benign
4         benign
5      malignant
6         benign
7         benign
8         benign
9         benign
10        benign
11        benign
12     malignant
13        benign
14     malignant
15     malignant
16        benign
17        benign
18     malignant
19        benign
20     malignant
21     malignant
22        benign
23     malignant
24        benign
25     malignant
26        benign
27        benign
28        benign
29        benign
         ...
669    malignant
670    malignant
671       benign
672       benign
673       benign
674       benign
675       benign
676       benign
677       benign
678       benign
679       benign
680    malignant
681    malignant
682       benign
683       benign
684       benign
685       benign
686       benign
687       benign
688       benign
689       benign
690       benign
691    malignant
692       benign
693       benign
694       benign
695       benign
696    malignant
697    malignant
698    malignant
Name:  Class, Length: 699, dtype: object

In [60]:
#  separation des features et de la cible
X=dataset.iloc[:,:-1]
#X
#colonnes=['PassengerId','Ticket','Name']
#df.drop(colonnes, axis=1)
y=dataset.iloc[:,10]
#y=dataset[:,10]
y

0      2
1      2
2      2
3      2
4      2
5      4
6      2
7      2
8      2
9      2
10     2
11     2
12     4
13     2
14     4
15     4
16     2
17     2
18     4
19     2
20     4
21     4
22     2
23     4
24     2
25     4
26     2
27     2
28     2
29     2
      ..
669    4
670    4
671    2
672    2
673    2
674    2
675    2
676    2
677    2
678    2
679    2
680    4
681    4
682    2
683    2
684    2
685    2
686    2
687    2
688    2
689    2
690    2
691    4
692    2
693    2
694    2
695    2
696    4
697    4
698    4
Name:  Class, Length: 699, dtype: int64

In [88]:
dataset['Class']=donnees['Class'].replace([2,4],['benign','malignant' ])
dataset

KeyError: 'Class'